@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@300;400;500&display=swap');

* {
  font-family: 'Questrial', sans-serif;
}

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

header {
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.searchbtn {
  border: 1px black solid;
  color: #000;
}

.searchbtn:hover {
  background: black;
  color: #fff;
}

.navbtn {
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 6px;
  color: #000;
}

.navbtn:hover {
  background: black;
  color: #fff;
}

#usermenu {
  border-radius: 6px;
  color: #000;
  padding: 12px 20px;
  margin: 0 10px;
}

#usermenu:hover {
  background: black;
  color: #fff;

}

.droptxt {
  color: #000;
  border-radius: 6px;
  text-align: center;
  padding-right: 25px;
}

.droptxt:hover {
  background: black;
  color: #fff;
}

.carousel {
  height: 85vh;
  margin: auto;
  z-index: 1;
}

.image {
  height: 85vh;
  width: 100%;
}

hr {
  width: 175px;
  margin-top: -10px;
  color: #000;
}

.firstcol {
  margin-left: 260px;
}

.firstcol p {
  color: #000;
}

.footertitle {
  text-align: center;
  color: #000;
}